[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/

.vscode/
.idea/
.vs/

/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

._*
~*
*~
*.sublime-workspace
*.pidb.meta
.DS_Store*
.Spotlight-V100
.Trashes
.txt
.log
.tmp
.bk


ehthumbs.db
[Tt]humbs.db

UnityPackageManager/
UserSettings/
Assets/Plugins/Editor/JetBrains
Logs/

Build-*/
*_tests/
