[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/

.vscode/
.idea/
.vs/
*.sublime-workspace

*.pidb.meta
*.meta
!*.*.meta

/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj

.DS_Store*
._*
~*
*~
.Spotlight-V100
.Trashes
.txt
.log
.tmp
.bk

ehthumbs.db
[Tt]humbs.db

Build-*/
UnityPackageManager/
Assets/Plugins/Editor/JetBrains
Logs/

*_tests/
Assets/Httx/*.md.meta
Assets/Httx/package.json.meta
